[2015-02-18 20:17] jamesls opened #5 "Permalinks to an ID break javascript code"
For example this breaks: http://jmespath.org/examples.html#working-with-nested-data
but this doesn't: http://jmespath.org/examples.html

The error appears to be from:

[code]

Appears to stem from incompatible jquery versions: https://bitbucket.org/birkenfeld/sphinx/issue/1140

[2015-02-19 05:04] #5 closed

[2015-03-30 22:25] SalaryUltraman opened #7 "More examples on selecting nested data"
Hello, it'd be appreciated if you could provide guidance on this one. I'd like to obtain the "general" object for the ID == 100.Thanks a lot in advance!

[code]

[2015-03-30 22:52] jamesls commented on #7
Yeah no problem I'll get some examples added.  Thanks for the request.

[2015-03-31 13:00] #7 closed

[2015-03-31 13:05] jamesls commented on #7
The expression you can use is ``people[?general.id==`100`].general | [0]``

I've added this example to the JMESPath examples page that walks through this expression: http://jmespath.org/examples.html#filtering-and-selecting-nested-data

Let me know if you have any other questions.

[2015-03-31 15:14] SalaryUltraman commented on #7
Thanks a lot for the answer and the great explanation on the Examples page!

One other thing that I realized was at fault in my case: the records ID are expressed as strings instead of integers. (like in my question above: "id": "100"). This is not something I have direct control on as the JSON is provided by an external entity. So I realized that I actually need to write
```people[?general.id==`"

[2015-03-31 17:16] RichardBronosky opened #8 "More examples for function `contains`"
The documentation at http://jmespath.org/specification.html#contains demonstrates partial string matching on string input. The array input examples use only arrays of single character strings. This makes it unclear as to whether partial matching is done. I reality, partial matching is not performed against arrays. I'm not complaining about the matching. It makes sense to do it this way if you cons

[2015-03-31 18:13] jamesls commented on #8
Fixed via #9

[2015-03-31 18:13] #8 closed

[2015-03-31 20:16] jamesls commented on #7
Good idea, I'll get the tutorial updated.

[2015-09-19 17:57] jamesls opened #15 "Add a map() function"
Not sure this warrants a full JEP, but I think it would be useful to have a `map()` function that takes two args, an expref and input data, and applies the expression ever every element in the second arg:

[code]

At first, this might seem the exact same as a projection, so the example above could just be `[*].foo`.

However, there's a key difference: **you will always know the size of the output

[2015-09-22 23:53] mtdowling commented on #15
I like it

[2015-09-23 01:03] jamesls commented on #15
Accepted, I'll update the docs and jmespath.test.

[2015-09-23 01:12] jamesls commented on #15
Closed via: https://github.com/jmespath/jmespath.site/commit/436baafe3edfeeb488a0b11dfc130df747ddc8ed

[2015-09-23 01:12] #15 closed

[2015-09-23 07:56] joshlk commented on #15
Thanks!

[2015-11-05 04:56] copumpkin opened #17 "Let us select dict values by criteria on their associated keys"
Let's say I have

[code]

and want to select all values for which keys start with "foo". I tried for a bit to get JMESPath to get me `['foo', 'woof', 'meow']` but was unsuccessful. I don't know if it's impossible, but I was thinking that a simple approach might be a built-in function called `pivot`/`reify`/`mappings` (I'm bad at naming) that transforms the above into a list of Key/Value mappings,

[2015-11-05 18:13] jamesls commented on #17
I like it.  Having a built in function for this would be really useful.  I've also seen requests for the opposite case: going from a list of key/val mappings back to a hash, so having a pair of functions that could convert to/from both forms would be really helpful.

[2016-01-14 20:33] elyobo opened #18 "Compliance levels"
The compliance levels reported on the [libraries page]( https://github.com/jmespath/jmespath.site/blob/master/docs/libraries.rst) should be a bit more granular; the specification is changing over time and when it's updated libraries are no longer "fully compliant" (e.g. at the present point in time the Ruby library is lacking proper support for "and" and "or" expressions from JEP 9, so shouldn't r

[2016-01-18 14:25] bjorne opened #19 "Missing expression types in expression definition"
The grammar does not include `and-expression`, `not-expression` or `paren-expression` under the definition of `expression`. Since there is no mention of these elsewhere in the specification, I suspect that they should indeed be considered `expression`s. In other words, I'm missing a line in the grammar equivalent to the following:

[code]

Alternatively, I would expect the specification to mention

[2016-01-21 17:26] jamesls commented on #19
Good catch, thanks for letting me know.  Those rules should just be added under the definition of expression as you suggested.  I'll get that updated.

[2016-01-21 17:27] jamesls commented on #18
Great idea, I should be able to automate a lot of this as well by just running the compliance tests against the libraries.

[2016-01-21 17:33] #19 closed

[2016-03-11 21:12] yankov opened #20 "Example on filtering nested non-list objects"
There are a lot of examples on how to filter lists, but that doesn't seem to work on non-list objects.
Example:
[code]
If I want to filter by `c == 100` this will not work `b[?c==100]`. What should be used instead? Also how to filter by `a == 1`?

[2016-03-17 22:40] jstewmon commented on #17
I'm also interested in this. How about the following set of functions:

- **items** `array[array[string|number|boolean|null]] items(object)`
- **zip** `array[array[*]] zip([array *argument, [, array $...]])`
- **to_object** `object to_object(array[array[string|number|boolean|null]])`

I implemented these for myself using the `CustomFunctions` class in the python implementation (assumes `map` and `

[2016-03-18 00:55] jamesls commented on #17
I like it.  I think this is a good balance between ease of use/familiarity as well as exposing useful low level primitives that you can build on.  :+1: from me.

@jmespath/dev any concerns?

[2016-03-21 05:35] mtdowling commented on #17
:+1: from me

[2016-04-09 03:51] dreftymac commented on #20
@yankov

## jmespath is AWESOME
* `Also how to filter by a == 1`
** `[@][?a==`1`].a`

[2016-04-19 14:02] daggemarren opened #24 "Multiple conditions and nested data"
Hi. I would like to get help with this query.

The response im searching for is this:
[code]

Here is example from the full object.

[code]

[2016-05-16 23:49] kidambisrinivas opened #25 "Flatten projections with data fields from parent"
[code]

I wish to select all tags as a flat list from above data:

reservations[].instances[].tags[]

However, I wish to add the "state" information of each tag as a key inside each tag object. Could you please tell me how to achieve this.

[2016-09-15 14:31] velavokr commented on #17
:thumbsup: from me too.

[2016-09-15 15:09] jstewmon commented on #17
Renamed `to_object` to `from_items` based on the discussion on jmespath/jmespath.py#105

[2016-10-05 09:44] dbarrosop commented on #20
How about the following?

[code]

How can I get all the elements that match `v1==100`?

[2016-10-05 09:52] dbarrosop commented on #24
I am trying to do the same without any luck. Did you manage to get this working?

[2016-10-05 16:36] bjorne commented on #24
The problem is not fully specified. Anyway, if you want the companies where _any_ of the employees have a salary above 4200:

[code]

If you want the companies where _all_ of the employees have a salary above 4200:

[code]

[2016-10-05 16:43] dbarrosop commented on #24
@bjorne , my issue is slightly different. For example, given:

[code]

I want all the subdictionaries where `v1>100`.

[2016-10-05 20:22] bjorne commented on #24
@dbarrosop How about this?
[code]

[2016-10-05 22:02] dbarrosop commented on #24
That works great, is it possible to extract the key as well? Or instead, both would work.

[2016-10-06 17:22] dreftymac commented on #20
## jmespath can do it

@dbarrosop

Yup, jmespath is *outstanding*.

First off, we will want to make sure the JSON is well-formed with compatible syntax.

[code]

Then it is a simple matter of applying the approach specified previously. Transform the JSON structure into a list of objects, and then perform the filter queries on that.

Below is a screenshot of the solution, which was entered and veri

[2016-12-08 16:35] mhubig opened #29 "How to query by key?"
Hi I could not find the answer to this problem:

Given the following structure, how do I get all the "objects" those **keys** start with e.g 'block8'?
[code]

[2016-12-09 22:56] gdbtek opened #30 "String manipulation examples?"
can you provide examples of how we can do string manipulation such as I have a string "a/b" and instead of displaying "a/b", I want to display only "b". Possible to do?

[2017-04-27 06:27] jrotenstein opened #33 "Specification typos (``)"
Page: http://jmespath.org/specification.html

These appear to be typos in the `ends_with` documentation:

    ends_with(@, ``baz)``
    ends_with(@, ``foo)``
    ends_with(@, ``z)``

Also, in the `join` documentation:

    join(``, @)``

[2017-05-09 22:26] the-g-man opened #34 "New Functions for JMESPath"
I'd like to propose a few additional functions for inclusion in the JMESPath specification:

[https://github.com/the-g-man/jmespath-ext](https://github.com/the-g-man/jmespath-ext)

They're not complex to implement but they add a great deal of power - for instance in dealing with recursive or normalized data structures.

I've added documentation and compliance tests for each of the three functions.

[2017-05-14 22:51] biochimia opened #35 "New function: `array[string] split(string $separator, string $subject)`"
I propose the addition of a `split()` function, counterpart to the already standard `join()` function. `split` breaks a string into an array of substrings that are separated by `$separator` in the original `$subject`.

(Not entirely unlike Python's `string.split()` function)

[2017-05-14 22:57] biochimia opened #36 "Extend slice notation to strings"
Currently, slices apply only to arrays. It'd be nice to be able to apply them to strings as well.

[2017-07-16 17:55] schlueter commented on #29
As far as I can tell, this is not possible as there is no partial string matching defined in the specification, only equality, inequality, greater than (or equal to), or less than (or equal to), provided by [*Filter Expressions*](http://jmespath.org/specification.html#filter-expressions).

Additionally, I don't see a way to apply those filters to object keys, only objects in an array.

Partial str

[2017-07-18 17:28] f-w opened #37 "Custom functions"
The function expression grammar and built-in functions give me the impression that custom function is supported. However, there is no docs on how to create a custom function. Does it vary by language-specific  library? Please clarify. I use jmespath.js, to be more specific.

This feature is important to me because built-in functions seem lacking some basic features, for example case sensitivity op

[2017-08-19 20:44] wryun commented on #29
@schlueter what about contains, starts_with and ends_with? You can certainly find the keys:

Unfortunately, I don't think there's a way to apply that in a multi-select hash (in part because the multi-select hash demands identifiers).

[2017-08-20 11:10] Daniel-at-github opened #38 "Add definition of JMESPath acronym"
Add definition of JMESPath acronym, maybe in an About section

I guess the Acronym is something like this

Letter | Meaning
--- | --
J | Javascript
M | ???
E | ???
S | ???
Path | Path

[2017-08-22 18:47] schlueter commented on #29
I missed those when I was looking. I'm not a regular jmespath user, I usually use jq.

[2017-10-25 01:11] pshemk opened #39 "Selecting data from anonymous dictionary"
I have an anonymous dictionary that looks like this:

[code]

I've tried a number of combinations to select only the sub-dictionaries that have "is_enabled==true" but with no luck. I actually don't even need the high-level key name, the content of the dictionary would be sufficient.

[2017-10-25 02:12] pshemk commented on #39
This pattern works:

`values(@)[?is_enabled]`

[2017-10-25 02:12] #39 closed

[2017-10-30 19:30] halberom opened #40 "multiselect hash from nested dict without knowing key names doable?"
Hello

I'd really appreciate some help with the following structure
[code]
Where I know the names of all the keys except for `foo` and `bar`, and would like to return those key names when 'value'=='123'

i.e. something like
[code]

No idea if what I'm asking is possible.

[2017-11-13 01:10] remram44 opened #41 "Referencing a value from outer scope"
Following the [Filter Projections](http://jmespath.org/tutorial.html#filter-projections) section of the tutorial, which filters all machines from a list that have a hard-coded argument value:
[code]
I was wondering if there was a way to reference another value from the object, for example:
[code]
The problem here is that the filter condition is evaluated in the context of one of the "machines" obj

[2017-11-13 01:26] remram44 commented on #41
Reading JEP 11 more closely, you claim that this is not currently possible. This is a bummer.

[2017-11-13 01:26] #41 closed

[2017-12-08 13:26] rog555 commented on #38
I always assumed it was related to JaMES Saryerwinnie :-)
or maybe something like Json Modular/Meta Expression Syntax (random guesses)

[2018-01-29 06:21] BenjaminSchaaf commented on #20
Thanks for the beautiful examples. I've been searching for how I can preserve the initial association keys (the data I need).

For instance, for the following:
[code]
I want to get `["1CR", "ACH"]`, ie. all the ones with `disabled == 0`.

I can easily use: `* | [?disabled==\`0\`]` to get `[{"disabled": 0}, {"disabled": 0}]`

[2018-02-12 18:17] fmoor opened #42 "filter on key containing special character"
#### Data Structure
[code]
#### Question
I am trying to write a query that will return `"one"`. I have tried the following:
`objects[?@TYPE == "A"]."$"`  this is a syntax error
`objects[?"@TYPE" == "A"]."$" ` this returns an empty array
`objects[?"\@TYPE" == "A"]."$"`  this is a syntax error
`objects[?"/@TYPE" == "A"]."$"`  this returns `["one", "two", "three"]` which is a surprise...

What is the

[2018-02-18 14:59] danvk opened #43 "Support ES6-style compact object literals for multiselect"
Say I have this JSON object and want to pare it down to just the ids and first names:

[code]

I can do that with this expression: `values[*].{id:id, first:first}`.

Since `{x:x, y:y}` is such a common pattern, ES6 introduced [compact object literal notation][1] to simplify this. In ES6, `{x,y}` is equivalent to `{x:x, y:y}`.

I don't believe `{x,y}` is valid in JMESPath, so it would be a boon (an

[2018-02-18 15:03] danvk opened #44 "Filter hash keys"
Is there a way to remove a single key from a hash, rather than specifying a list of keys to keep?

For example, say I have a GeoJSON FeatureCollection and would like to remove all the `geometry` objects:

[code]

I can do that with `features[*].{id:id,type:type,properties:properties}`, but this would also filter out any unexpected keys in the feature.

It would be nice if there were a way to inver

[2018-02-27 20:58] freeseacher opened #46 "Sum_by function"
Hi!

it would be really nice to have sum_by function. My case is to get something like
[code]
sum services count in specific pool.
Several times as i can see it was already requested but in wrong projects. Here is request in i hope right one

[2018-03-19 07:01] liancheng opened #49 "Lack of lexical token delimiter specification"
It seems that the current JMESPath specification doesn't specify any lexical token delimiters, which leaves ambiguity and confusion.

For example, considering the following two grammar rules in the spec:

[code]

Sub-rules are concatenated in the same way in the above two rules but clearly the first one allows white spaces between `expression` and `comparator` since we have the following official

[2018-03-19 10:09] enricjaen opened #50 "is it possible to access parent node?"
Hello, I'd like to filter and get as result the parent. Is it possible?

For example, here I'd like to filter by "my.name" and get as result the "created : T1" field

Regards
Enric

[code]

[2018-03-19 23:13] #50 closed

[2018-03-27 01:18] DanielFTwum opened #51 "Need the ability to unique a list"
Need the ability to get a unique (similar to UNIX uniq)

Say I have an array { "result": [ "G", "L", "G", "G", "L" ] }

uniq(result) yields [ "G", "L" ]

[2018-04-04 09:56] morokin commented on #35
Perhaps issue opened in wrong repo

[2018-04-30 09:14] aschmolck opened #52 "website try-out fails to conform to it's own spec"
Pasting the following query into the box returns

[code]

returns:

[code]

whereas of course according to (http://jmespath.org/specification.html#ordering-operators)[spec] (and indeed the official `jp` utility) the answer should be:

[code]

Now in an ideal world, you'd bump and fix the spec and the currently "correct" implementations, because not having the ability to compare strings makes commo

[2018-06-27 07:00] josdejong opened #53 "Show error in interactive examples when query is invalid"
The interactive examples on the website are great!

I noticed though that when you're changing the JMESPath query and it becomes invalid, nothing happens. Would be great if the output would display an error instead of showing the last result.

I can create a PR for this I think if someone can point me to the code of these interactive examples.

[2018-07-16 14:19] carsey commented on #37
I second this. Recently noticed the lack of case sensitivity option as well and would like to add a lower() function to functional expressions (e.g. `[?lower(foo) == 'bar']`).

[2018-07-16 18:05] f-w commented on #37
@carsey, if you use jmespath.js, I got custom function working successfully in [my fork](https://github.com/f-w/jmespath.js). I submitted a [PR](https://github.com/jmespath/jmespath.js/pull/33) but author didn't respond.

[2018-07-30 11:24] betelgeuse commented on #33
Pull request #48 seems to have fixes for this.

[2018-08-01 00:52] chewmanfoo opened #54 "how to query that a hash contains a key?"
I can't find anything that illuminates my problem.

Given data:

       {
            "Origin": "CreateRoute",
            "DestinationCidrBlock": "10.123.160.0/20",
            "State": "active",
            "VpcPeeringConnectionId": "pcx-8527d8ed"
        },
        {
            "Origin": "CreateRoute",
            "DestinationCidrBlock": "10.123.176.0/20",
            "State": "active",

[2018-08-01 12:29] baldpope commented on #54
I'm not 100% certain this is what you're looking for, but the following returns only the VpcPeeringConnectionId

`aws ec2 describe-route-tables --query 'RouteTables[*].Routes[*].VpcPeeringConnectionId'

[
    [
        "pcx-02a9eacd60dd8695e",
        "pcx-043695b694fdccc7e"
    ]
]
`

[2018-08-04 00:27] chewmanfoo commented on #54
Actually I need the entire hash.  Something that returns:

   [{
        "Origin": "CreateRoute",
        "DestinationCidrBlock": "10.12.160.0/20",
        "State": "active",
        "VpcPeeringConnectionId": "pcx-851234ed"
    },
    {
        "Origin": "CreateRoute",
        "DestinationCidrBlock": "10.13.176.0/20",
        "State": "active",
        "VpcPeeringConnectionId": "pcx-bdffffd5"

[2018-09-21 11:59] ktakashi opened #55 "max_by specification refers undefined people array"
The description of `max_by` function says this:

However, there's no definition of the people array at least on the specification page.

[2018-09-22 20:51] atrauzzi opened #56 "Need examples on filtering non-object roots."
if my JSON starts out as an array:

[code]

I'm not sure how to begin my query so that I can do things like select where `id > 1`, etc...

[2018-09-27 12:57] maxxyme commented on #53
Using https://codebeautify.org/online-json-editor (disclaimer: that's how I discovered JMESPath) you can see the error message whenever your JMSEPath expression is wrong.
You enter your JSON on the left, transfer it on the right with the ">" button, click on the action menu icon matching the root node on which you will apply your expression, then choose Transform from the menu.

[2018-09-27 13:02] maxxyme commented on #51
I honestly think it can't be done right now with JMESPath.
Just try the last tip here (new Set() from ES2015): https://www.jstips.co/en/javascript/deduplicate-an-array/

[2018-09-27 13:06] maxxyme commented on #55
The thing is these functions (max_by, min_by, sort_by) referring to this "people array (defined above") are detailed on the Specification page: http://jmespath.org/specification.html
while the aforementioned people array is actually defined on the Tutorial page (last paragraph): http://jmespath.org/tutorial.html#functions

[2018-09-27 15:01] josdejong commented on #53
@maxxyme ah that's a clone of my website https://jsoneditoronline.org :(. I opened this issue when implementing JMESPath in [JSONEditor](https://github.com/josdejong/jsoneditor/) and was trying out stuff on the website of JMESPath.

[2018-09-27 15:30] maxxyme commented on #53
So you're saying they just basically copied your stuff?? That's so rude & unfair.

[2018-09-27 17:53] josdejong commented on #53
Yes. The JSONEditor component is open source and I'm happy when it can be of help in any application, but I'm not really happy with copycats competing directly with my website by simply cloning it.

[2018-10-02 11:36] leki75 commented on #56
[code]

[2018-10-02 14:52] atrauzzi commented on #56
Thanks!

[2018-10-02 14:52] #56 closed

[2018-11-09 16:17] Greymalkin commented on #24
@dbarrosop Did you ever figure out the way to extract the key, or the key and value both?

[2018-11-09 18:51] dbarrosop commented on #24
Unfortunately not.

[2018-12-01 15:57] yrashk commented on #44
Hi Dan,

Have you come to any solution for this (short of coming up with a custom filtering function)?

[2018-12-11 14:53] Leo-need commented on #20
Hi ! can you describe way to get initial association of keys ?

[2018-12-28 00:12] dreftymac commented on #20
@Leo-need the examples that I gave above are not all optimal for JmesPath (for example the one that got a thumbs-down).

If you would like, you can paste a *"BEFORE and AFTER"* example ... show the JSON before, and then what you want to get after applying JmesPath.

For even better results you may want to post a question on StackOverflow.

[2019-01-23 12:14] techtonik opened #59 "Grep "key: value" by key"
Is it possible to get all `author`s regardless of their location in a document?

In JSONPath it will be `$..author`, in jq `..|objects.author`. What is the equivalent for JMESPath?

[code]

Trying to understand it by comparing to known tools https://github.com/stedolan/jq/wiki/For-JSONPath-users

[2019-02-21 16:45] Doqnach opened #60 "Using JMESPath to filter tree"
[code]

I would love to use JMESPath to split it into two different documents (using two queries):

[code]

and

[code]

Is this possible?

If that fails... how can I filter by key name? See https://github.com/jmespath/jmespath.site/issues/20#issuecomment-252030753 (the "* TODO -- include an example of how to preserve the initial association of keys.")

[2019-02-22 10:32] Doqnach commented on #60
I now have this:

`{a:a[*].{b:b,c:c,d:d}}`
[code]

and:
`{a:a[*].{b:b,c:c,e:e}}`
[code]

This suffices for my case. Hopefully this also helps other people facing the same question.

[2019-02-22 10:32] #60 closed

[2019-03-21 11:13] sauron918 opened #62 "How to find all by key?"
Could you please help me how to **find all** `condition` nodes?

![image](https://user-images.githubusercontent.com/3842386/54748513-881bfc80-4bda-11e9-80b3-ca2e0da49888.png)

JSON example:
[code]

I would like to find all `conditions` no matter where it is.

Probably it should looks like: `*[?condition]` or `values(*)[?condition]` something like that.

[2019-03-21 11:51] sauron918 commented on #62
Probably this issue is relevant to https://github.com/jmespath/jmespath.py/issues/110

[2019-04-13 23:34] thoughtjigs commented on #24
@dbarrosop I had a similar problem working with OpenAPI3 definitions. In particular the paths of an OpenAPI def are normalized so that it is difficult to use jmespath to extract both the key and value of a searched for item i.e. the path object for a particular operationId. I have a suspicion that there is some complex query that might do what is needed but was unable to find it. Instead I solved

[2019-05-04 20:16] innovate-invent opened #64 "Should multiselect hash accept expressions as keys"
This is as close as I can get to a set of unique names:
``keys(merge(map(&{&@:null}, people[].name)))``
except it seems that I cant use expressions as identifiers even though they resolve to strings.

This can be extended to function as a group_by:
``merge(map(&{&name: @}, people[]))``

[2019-05-20 06:46] innovate-invent commented on #54
This is a very late response but `[?@.VpcPeeringConnectionId]` is what you want.

[2019-05-20 06:51] innovate-invent opened #65 "Project status"
Is this project dead?
There seem to be several rather important PRs pending for years.
https://github.com/jmespath/jmespath.site/pull/6
https://github.com/jmespath/jmespath.site/pull/21
https://github.com/jmespath/jmespath.py/issues/110

[2019-06-01 14:58] bosskay972 opened #67 "How to return a child node and a parent node attribute in the same query JMES Path for JSON object"
Considert we have this JSON:

[code]
I want to return "AT" and the power corresponding to "AT", so I don't want to return "text1" but just `[["text",10],["text2",40]]`. This query `[A[*].AT,B[*].power]` return this:` [["text","text2"],[10,20,40]]`. So it's not exactly what I want because I don't want the extra value: 20 from "text1".  I found this portion of code `root[].B[].name && root[].A[].AT`

[2019-07-03 12:54] lazize commented on #20
Hi, sorry if this is not the correct place to ask, but I will try.

From the JSON below, how can I get all `obj` elements that contais `attr` with `key == "attr 2"`?

[code]

[2019-07-10 13:41] impredicative opened #68 "Use HTTPS for site"
Please use https for the website. It's embarrassing to use http these days. Obviously you can get a free cert from https://letsencrypt.org/ .

Also, the repo hasn't been updated in over a year even though there are so many Issues and PRs. If it's dead, please admit it and say so.

[2019-07-29 20:44] dwbelliston commented on #20
`top[?obj[?attr[?key=='attr 2']]]`

[code]

[2019-08-31 08:55] springcomp commented on #65
Shouldn’t the community do something about this?

The [http://jmespath.org/](http://jmespath.org/) domain name is set to expire on november the 11th. And the various repositories have not seen any activities from James for more than three years now.

At the risk of coming accross badly, I, for one, would be willing to maintain a `jmespath.jep` or `jmespath.spec` repository as explained [here](http

[2019-08-31 19:36] Thaina commented on #59
In my current understanding of JMESPath, there are no way you could traverse any number of depth. You can flatten it into some finite number of depth

Maybe `[*][*][*].author` is what you could do

[2019-09-01 01:21] innovate-invent commented on #65
@jamesls Are you still alive?
I am only half joking :yum:

[2019-09-03 06:32] techtonik commented on #59
@Thaina checked `[*][*][*].author` with http://jmespath.org/tutorial.html and it doesn't work. Seems like the only supported syntax is `name[*]` for flattening arrays and you need to know the name. For this particular case `store.book[*].author` helps to get authors, but that's not a grep that could be used if the document structure is unknown.

[2019-09-03 06:34] Thaina commented on #59
@techtonik Maybe this?
![image](https://user-images.githubusercontent.com/1042507/64149225-8f188d80-ce4f-11e9-966c-6dadf1abc729.png)

[2019-09-03 06:45] Thaina commented on #59
You might need to write a long list of every possible combination of flattening and flatten it

![image](https://user-images.githubusercontent.com/1042507/64149737-f08d2c00-ce50-11e9-83b3-88b290e5e5f1.png)

[2019-09-03 06:46] techtonik commented on #59
`*.*[*].author`. The structure is still there, but at least no need to retype names.

[2019-09-03 08:35] Thaina opened #70 "Please help me decide about extending syntax for jmespath"
I am in process of starting new project extending jmespath with more syntax. Currently now I work on basic jmespath and extend it to support math operation `+` `-` `*` `/` `%` with antlr. I got the antlr file from https://github.com/burtcorp/jmespath-java

I am now stuck on design decision and wish that you could kindly help me with some suggestion

- Should I support bitwise operation with `&&` `

[2019-09-05 07:14] myrdd commented on #65
@springcomp imho it would be at least nice to have a version of the website (`jmespath.site`) with all the issues fixed. if you decide to do so—i.e. to fork the website and publish it—I recommend you to put a disclaimer on the site stating the project status with a link where to discuss the current status (e.g. this issue).

[2019-09-08 04:49] weidongcao opened #71 "How to transform Elasticsearch mutiple aggregation TopN"
in Elasticsearch I have to query with mutiple aggregation, result like this:
[
	{
		"field_name1": "field_name1_value1",
		"field_name2": "field_name2_value1",
		"count": 2
		"topN": [{"name": "aaa"},{"name": "bbb"}]
	},
	{
		"field_name1": "field_name1_value2",
		"field_name2": "field_name2_value2",
		"count": 2
		"topN": [{"name": "ccc"},{"name": "ddd"}]
	},
	{
		"field_name1": "field_name1_valu

[2019-09-17 15:48] Rajanusa opened #72 "JSON Transformation fails when expression static string and JSON Path formatted and more than a single line"
Hi,

My Data is
{
    "title": "title1",
    "description": "description1",
    "blog": "This is a blog.",
    "date": "11/4/2013"
}
My Expression is
{
	"data":{
	"date":date,
	"text":blog
	},
	"name":title,
	"description":description
}

It is not working since the expression is formatted and has \r\n.

If I give expression as single line minified, It works.

Can you advise how to work with format

[2019-09-18 01:41] gwerbin commented on #65
@springcomp I think that's reasonable.

Anyone interested in keeping this project alive could also help by putting out a call to other developers they know who might be able to help.

[2019-09-18 09:22] myrdd commented on #65
good idea. maybe contact mayor dependants—I know of Ansible (its [`json_query`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#json-query-filter) jinja templating filter) and the [AWS cli](https://docs.aws.amazon.com/cli/latest/reference/index.html)—as well as package maintainers (most importantly, the python implementation, see https://repology.org/project/python:jmespa

[2019-09-18 09:27] craiginscotland commented on #38
wow, can't believe this is still outstanding!

[2019-09-19 05:44] gromenauer commented on #38
James Moriarty Eobard Saryerwinnie Path? (Hope not :stuck_out_tongue: )

[2019-10-31 05:56] chris-armstrong commented on #65
FWIW, we (GorillaStack) are maintaining a jmespath.js fork and a copy of the site:

https://github.com/gorillastack/jmespath.js
https://github.com/gorillastack/jmespath.site (published to https://gorillastack-jmespath.netlify.com)

I would love somewhere to propose specification improvements. I'm making additions and improvements and bugfixes to the jmespath fork, but it would be great to formalis

[2019-11-01 00:43] chris-armstrong commented on #65
Update:
* I've linked to this issue on the [web site](https://gorillastack-jmespath.netlify.com/) and [jmespath.js](https://github.com/gorillastack/jmespath.js) forks
* Added contribution guidelines for our [jmespath.js](https://github.com/gorillastack/jmespath.js) fork

I'm also starting to create proposals for changes - please see [the proposals page](https://gorillastack-jmespath.netlify.com/pr

[2019-11-06 23:27] sherif-botros commented on #38
http://jmespath.org/contents.html
MESPath (JSON Matching Expression paths) is a query language for search JSON documents

[2019-11-13 16:42] Daniel-at-github commented on #38
Thanks @sherif-botros

[2019-11-13 16:42] #38 closed

[2019-12-05 17:58] ewithak commented on #20
@dwbelliston , I am trying to do something similar and I found your post useful. Thanks!

[2020-01-29 16:21] henning commented on #65
I'd be interested to help with advancing the python implementation.

[2020-01-29 16:25] henning commented on #35
BTW: the python implementation README states this repository is the place for extension proposals: https://github.com/jmespath/jmespath.py#custom-functions (dont know about other implementation's repos)

[2020-02-28 00:33] chris-armstrong commented on #65
I've also forked the jmespath.test repository, upgraded its test infrastructure and schema, and added the compliance tests for GorillaStack's spec additions (split() function and to_json()/parse_json() proposals (both in our jmespath.js fork)
https://github.com/GorillaStack/jmespath.test
(see https://gorillastack-jmespath.netlify.com/proposals for descriptions of those proposals)

[2020-02-28 06:32] springcomp commented on #65
@chris-armstrong Wow, that is impressive, thank you for your efforts.

I unfortunately never got the time to follow through my proposal made back in August but I'm glad the project still generates enthusiasm and actual work.

I will add a proposal for an [iff](https://github.com/springcomp/JmesPath.Net.Functions/wiki/iff) function that I made back then to your proposals page.

I like the various s

[2020-02-28 10:54] darrenmothersele commented on #65
I've been using a modified version of jmespath.js on a project for a while now. I have uploaded a cleaned up version of this fork:
https://github.com/daz-is/jmespath.js

Rather than adding functions to the spec, I've added a `decorate` function that allows the consumer of the library to add their own functions (along with type signatures for type checking).

An example of extending it with functio

[2020-02-28 17:17] jamesls commented on #65
Hey everyone, sorry for not being present in this project for a while, but I'm still alive and I'll have more time to allocate working on this project now.  Other the next few weeks I'll be going through the various issues and pull requests to get everything triaged and updated.

One of the immediate things I'd like to do is to start up development of the JMESPath spec again.  I initially wanted a

[2020-03-03 22:22] jamesls commented on #68
Still alive!  See https://github.com/jmespath/jmespath.site/issues/65#issuecomment-592613602.

You're right, this should be using HTTPS.  I'm working on this now.

[2020-03-04 14:39] #68 closed

[2020-03-08 13:56] ClericPy opened #74 "Is there a way to get the map result with 'relative path' like *..c ?"
input:
{"a": {"b": {"c": {"d": "value"}}}}
path:
*..c
expect:
{"d": "value"}

[2020-03-10 11:48] darrenmothersele commented on #74
This works for the example you've given...
[code]

[2020-03-10 14:22] ClericPy commented on #74
Thanks for answering, but the relative path means that I don't know how many blocks in the given nested dict, so I wonder if there is a way to do like the objectpath do.

[code]

[2020-03-10 14:37] darrenmothersele commented on #74
Ah, I see. As far as I know, recursive descent is not possible in JMESPath

[2020-03-10 14:40] ClericPy commented on #74
@darrenmothersele

Yes, I read the doc/source code in a while but not found that feature, so it may not be the purpose of JMESPath.

JMESPath is very fast, and the implementation didn't contains a recursive parsing usage, this issue is just want to ensure that.

Close issue, thank all the same.

[2020-03-10 14:40] #74 closed

[2020-03-12 12:19] jilvin commented on #65
@jamesls Can you consider publishing the change to the license field in package.json to npm? Shows license: none at the moment at https://www.npmjs.com/package/jmespath . Will help to work with other license checking tools too.

PS: Renaming LICENSE.txt to LICENSE would be great too.

[2020-04-03 16:51] geverghe commented on #29
@mhubig , @wryun , @schlueter  - Would you happen to know how to query and obtain all the dates in this case? Would it be "[*].'"block2.row2'".date" ? I am facing challenges providing the right reference to extract date (in this analogy) for a similar use case. I couldn't find any reference in the examples as well.

[2020-05-11 16:24] glenveegee commented on #65
Hi all,

I hope no-one minds but I've rewritten the entire jmespath.js repo in typescript.

https://github.com/nanoporetech/jmespath-ts

If you find it a worthy replacement for the current `jmespath.js` package you're welcome to use it. we'll hold off publishing it to npm in case there's some feedback about adopting this version. Otherwise I'd be happy to publish it under a different moniker.

Two

[2020-05-12 02:39] jameswilson commented on #65
@jamesls what is involved with getting jmespath.spec repository setup?

[2020-05-12 02:43] jameswilson commented on #34
Oooh. The zip function could be really useful for a project I'm currently working on. Nice ideas there @the-g-man

[2020-05-12 22:14] jamesls commented on #65
I created the repo a while back but I need to port the existing proposals over to the site, was converting the existing proposals over to markdown just to make it easier for people to contribute: https://github.com/jmespath/jmespath.jep

[2020-05-18 14:14] jameswilson commented on #65
Ah I entirely missed that repository. when I scanned the list here  https://github.com/jmespath I guess due to the naming of the extension on the repository I didn't recognize "jep" and figured it was another programming language or something.

[2020-05-22 18:39] wungad opened #75 "example correction: count(@) is not there anymore"
## From examples on jmespath.org:

[code]

[2020-07-05 15:45] danielaparker opened #76 "Question about multi-select-list"
Nevermind.

[2020-07-07 02:12] #76 closed

[2020-08-03 03:19] qwordy opened #78 "Is space supported in key?"
If I use
[code]
it will report an error.
May I know how to select "b c"? Look forward to your answer.

[2020-08-11 09:53] FelixReuthlingerBMW commented on #70
Even just having the basic math would be fantastic!

[2020-09-04 15:40] jantari commented on #20
Ok so this issue is from 2016 and nobody was able to contribute a working solution to the original question yet.

@BenjaminSchaaf gave a great and concise test case in case any jmespath experts stop by in the future

I'm not one, but I did manage to solve this exact problem in my specific usecase of trying to filter such data in ansible:

    - name: Find unformatted disks
    set_fact:
        RA

[2020-10-12 11:26] Minitour commented on #78
@qwordy Hi,

You can just use double quotes to wrap the key.
[code]
should work fine

[2020-11-16 08:03] rodfersou commented on #17
4 years old issue.. why taking so much?

[2020-11-29 13:36] brokedba opened #80 "More examples on Concatenating nested elements"
Hi,

 I think ,that would be very nice to add an example on how to use a join to concatenate the values of two keys inside a nested list of key values.

Using the query syntax I tried to create tuples combining the values of name and value(see below json structure) but it took me a lot of time to figure that out as there was no specific example on the Jmespath official web doc (the online jmspath

[2020-12-17 11:58] samsaurabh commented on #20
@jantari Thanks buddy, your solution worked like a charm 💯

[2021-01-03 22:58] theconor commented on #53
Error message for invalid JMESPath expression would be great.  Also an error message if the pasted JSON expression is invalid.  I like to use the query editor on the front page of the site for testing out my expressions against example JSON, and it gets quite confusing if either one of them becomes invalid and you don't know what's wrong.  Just need a flag/colour to highlight when the error exists

[2021-01-11 14:14] sliiser opened #81 "max_by/min_by specification disagrees with the examples"
The max_by and min_by specification declares that the 2nd argument is an expression that returns either a number or a string.

`expression->number|expression->string`

However, they both have an example that specifically contradicts this showing that strings are not allowed. Which is it?

|Expression | Result|
|-- | --|
|max_by(people, &age_str) | <error: invalid-type>|
|min_by(people, &age_str) |

[2021-01-15 19:11] rrjanbiah opened #82 "Add Elixir library"
Not tried personally. But, https://github.com/stephan83/ex-jmes claims to pass official spec

[2021-02-12 20:39] innovate-invent commented on #65
@jamesls with the move to the jmespath.jep repository, does that invalidate the already well written PRs pending in the jmespath.site repository?

The contributions mentioned in my original post are critical to JMESPaths future. What is their status?

[2021-04-18 11:36] alalinaci commented on #24
Hi

I am new to jmespath. I've been trying to check conditions if for ALL nodes, ('Config state '=='NSHUT' and ('State '=='OPERATIONAL' or 'State '=='IOS XR RUN')). I am expecting a single boolean value after the check. Following is the hash I'm trying this on:

{
        "0/0/1": {
            "Config state ": "",
            "Node ": "0/0/1",
            "State ": "OK",
            "Type ": "NC5

[2021-04-18 11:46] alalinaci opened #86 "Check multiple conditions for all keys, in the given nested dictionary using jmespath"
Hi

I am completely new to jmespath. I've been trying to check conditions if for ALL nodes, ('Config state '=='NSHUT' and ('State '=='OPERATIONAL' or 'State '=='IOS XR RUN')). I am expecting a single Boolean value after the check. Following is the nested dictionary I'm trying this on:

{
"0/0/1": {
"Config state ": "",
"Node ": "0/0/1",
"State ": "OK",
"Type ": "NC55-MPA-12T-S"
},
"0/0/CPU0": {
"C

[2021-04-18 20:41] alalinaci commented on #86
I used jmespath simulator and came up with `contains(*.["Config state "!='' && ("State "=='OPERATIONAL' || "State "=='IOS XR RUN')][], `false`)
`, this should give me the expected result but while using it in ansible playbook, it produces the leaning toothpick syndrome, and it doesn't produce the expected output. The ansible task I wrote looks like:
`  - name: Query to display nodes
    set_fact:

[2021-07-19 12:08] feyzee opened #87 "jq's select equivalent for jmespath"
I'm looking for jq's select equivalent in jmespath.

I've the following json

[code]

following is the query I've used in jq for filtering -

`cat file.json | jq 'select(.event_type=="click") | {status: .attributes.send_status, type: .attributes.activity_type}'`

here jq filters out objects if event_type is not "click". how to achieve this in jmespath?

[2021-08-11 18:31] praveenambati1233 opened #88 "How to remove duplicates in the az command output using --query"
Command -
az resource list  --resource-group MYRG --query "[].{type:type}"
output -
[
  {
    "type": "Microsoft.Network/networkInterfaces"
  },
  {
    "type": "Microsoft.Network/networkInterfaces"
  },
  {
    "type": "Microsoft.Network/networkSecurityGroups"
  },
  {
    "type": "Microsoft.Network/networkSecurityGroups"
  }
]

[2021-11-02 22:50] mdavis-xyz opened #89 "Typo in slicing tutorial - stop not step"
In the slicing tutorial, it says:

At this point the step value has not been introduced yet. And if you omit the step value, it is assumed to be +1, not the array length. I think this is a typo, and it should say:

[2021-11-02 22:50] mdavis-xyz commented on #89
Also, in the next paragraph there's another typo:

Should be just "modifying" or just "changing".

[2021-11-30 21:45] b-enoit-be commented on #87
Here is the JMESPath equivalent:

[code]

[2021-12-02 02:24] abeelan commented on #88
mark

[2021-12-02 10:43] abeelan commented on #51
This document is intended to help you, [jmespath.py](https://github.com/jmespath/jmespath.py)

`CustomFunctions`

[2022-01-28 18:07] douglasheldoracle opened #92 "Tutorial: A multiselect has the same basic idea of a multiselect list"
In Section "MultiSelect", with the topic sentence  "This next concept, **multiselect lists and multiselect hashes** allow you ..."

Proposed change:

The phrase: "A **multiselect** has the same basic idea of a **multiselect list** ..."

should be changed to:

The phrase: "A **multiselect hash** has the same basic idea of a **multiselect** list ..."

[2022-02-18 15:52] springcomp opened #94 "The future of JMESPath"
Dear all,

After many careful thoughts, I would like to [re-open the discussion](https://github.com/jmespath/jmespath.site/issues/65) we had with regards to the status of this project.

I would like to present [an unofficial fork of this project](https://jmespath-unofficial.github.io/jmespath.site/) that I – together with my co-author @jdevillard – can commit to maintain for the foreseeable future

[2022-02-18 19:23] springcomp commented on #94
@chris-armstrong I just realize that you started the same effort.
Although I have started to cherry-pick various fixes and enhancements to my fork,
should we use your fork instead ?

I'm mainly interested in the spec and proposals.
I see that you have proposals as well.

I was planning to split the spec from the website itself.
Once that's done, I can certainly close my fork.

I'm interested to he

[2022-02-18 19:28] springcomp commented on #94
@springcomp can you describe the organisation that is backing you? I believe you are working on this on behalf of an employer

@innovate-invent I will be involved from a personal standpoint and not with any corporate backing. Although this would be on a best effort basis, and cannot make any guarantees, I believe I can certainly dedicate a small amount of time on a continuous basis. Like a few hou

[2022-02-18 19:31] springcomp commented on #94
Of course that is the goal. Just wanted to bootstrap the effort with [more concrete steps than previously](#65) when I participated in the discussion.

[2022-02-18 19:47] innovate-invent commented on #94
Right, are you planning on forking https://github.com/jmespath/jmespath.jep into your organisation? Or did you have a different direction planned?

[2022-02-18 20:01] springcomp commented on #94
I think one repository for both the spec and its proposals would make sense. This would be separate from the website. That's the direction I'd like to take.

But I cannot alone decide if I like a particular implementation. So there would be at least a community consensus for each proposal. [I'm currently prototyping](https://github.com/springcomp/JmesPath.Net/tree/feature/jep-11) the [JEP-11 Lexic

[2022-02-18 20:11] innovate-invent commented on #94
Would you want to keep the repo as a fork so that the issues remain with the original? I think we would have to break the fork relationship to enable issue moderation on the fork.

JEP-11 is probably the best first item to be integrated.

[2022-02-19 13:16] springcomp commented on #94
@innovate-invent You are right. In the long run, either I will close the site or break the fork relationship.

I have instantiated the [JEP repository](/jmespath-unofficial/jmespath.jep) with existing proposals.

[2022-02-22 18:50] ImAbhishekTomar opened #95 "Could not import extension sitemap (exception: No module named 'urlparse')"
Error when trying to build site on my local system.

Could not import extension sitemap (exception: No module named 'urlparse')

<img width="871" alt="Screenshot 2022-02-23 at 12 19 39 AM" src="https://user-images.githubusercontent.com/6933841/155198909-051899a1-48d0-4620-b445-498893c49a74.png">

[2022-02-25 07:46] springcomp commented on #95
@ImAbhishekTomar This is fixed in the [unofficial fork](https://github.com/jmespath-unofficial/jmespath.site) that I maintain.

[2022-02-25 07:53] springcomp commented on #94
Dear community,

@jdevillard and myself have now setup the various forks required for ensuring the future of JMESPath.

A [JMESPath Site](https://jmespath-unofficial.github.io/jmespath.site/) fork has been setup.

It is clearly marked as being unofficial.
I have merged most of the pending pull requests that made sense to fix various typos.
If you feel you have submitted a pull request that has bee

[2022-02-25 08:13] innovate-invent commented on #94
Thank you for all of this work!

Would you be interested in listing off specific tasks that you have planned/need done? I and others would be more likely to pick away at them if we knew the best way to help.

[2022-02-25 08:17] innovate-invent commented on #94
I just spotted some very recent activity by @jamesls : https://github.com/jmespath/jmespath.py/issues/268

[2022-02-26 08:55] springcomp commented on #94
@innovate-invent Indeed, I planned to do this using issues, but forks cannot receive issues and I would rather wait for wider feedback before breaking the fork relationship. But maybe by this time, we would already had feedback if our initiative was that interesting…

As I alluded to in my contribution above, we need help on:

## Setup up community guidelines

- CONTRIBUTING GUIDE.
- CODE OF CONDU

[2022-03-03 16:43] springcomp commented on #95
You can see the fix [here](https://github.com/jmespath-unofficial/jmespath.site/commit/5505c5f747df2dae777d85a806b2540ea04107c8#diff-84267886a2e3e6f15a7f4d877a237195ce97b8f822539aee2c24c45d85e68a7aL28).

[2022-03-03 16:51] springcomp commented on #94
Dear all,

I have made what I think is good progress curating some content and backlog that could be candidate for the next release of a specification.

- I have [initialized a milestone](https://github.com/jmespath-unofficial/jmespath.jep/milestone/1) that we could build with the community. It currently contains the [JEP-09 Lexical Scoping](https://github.com/jmespath-unofficial/jmespath.jep/issu

[2022-03-07 10:50] rrjanbiah opened #96 "Reverse JMESPath"
Is it possible to get the JMESPath, provided current JSON input and output JSON are passed?

I think, new contributors can think about it if it is not currently possible.

[2022-03-07 10:51] rrjanbiah commented on #96
Tagging @springcomp

[2022-03-07 12:38] springcomp commented on #96
hi @rrjanbiah thanks for your feedback.

That’s certainly an interesting challenge.
I’m not sure that is an easy - or even possible - problem at all.

However, this is clearly outside the scope of what we are trying to do.
Thanks for your time.

[2022-03-07 12:50] rrjanbiah commented on #96
@springcomp Thanks for your reply

[2022-05-24 17:03] jamesls commented on #94
Hey everyone, I wanted to chime in here with my thoughts.

First, thanks to @springcomp for the interest in the project, and in wanting to move the project forward with improvements to the spec as well as the main site.  I think that's great.

To give some context to the current state of things, the JMESPath spec has been purposefully static for a while, with no new language features being added.

[2022-05-24 20:05] springcomp commented on #94
@jamesls

Thank you for your feedback.

## JMESPath.site Updates

For the record, before we broke the fork relationship, I had already made a batch of changes by merging all currently pending pull requests concerning minor changes to the site like typos and references to implementations. I also updated the embedded version of JMESPath that powers the live samples and tutorials.

![](https://user-i

[2022-05-24 21:41] jamesls commented on #94
Yeah this would be great.  I would probably break the contributions down into several categories of changes for jmespath.site, from least controversial to change that may need more discussion:

1. Typo fixes, rephrasing to make things more clear
2. Infrastructure related changes, javascript library updates, switching to github actions, sphinx updates, etc.
3. Proposed new content changes, new page

[2022-05-24 22:02] jamesls commented on #94
I put together a draft of what a more formalized jep process could look like:  https://github.com/jmespath/jmespath.jep/pull/14 .  It still needs some details worked out, but I'd like to get a discussion started around it.

[2022-05-31 20:37] jamesls commented on #94
Just a quick update, I've merged all of the linked pull requests except for #100 / #101 which will take some time to go through.  I'd like to switch over to github actions, but keep the existing infrastructure in place for now.  I also like the idea of splitting up the spec/grammar, just thinking through if it makes more sense in a repo that's separate from the front-end website.

Thanks for all y

[2022-05-31 21:32] innovate-invent commented on #94
I would separate the website from the spec repo. That way you don't have commits for formatting and presentation being mixed in with specification changes.

[2022-06-02 17:24] vavasilva opened #105 "Add built-in functions "not contains""
Is it possible add a  built-in function "not contains"?

[2022-06-14 18:39] qequ opened #106 "[Proposal] Add functions `remove_empty_fields` `remove_null_fields`"
Proposal for adding built-in functions `remove_empty_fields` and `remove_null_fields` which would be useful to remove fields of an object that are empty or have null value.

e.g. if we have a json like this

[code]

we call

[code]

Result
[code]

if we call

[code]

Result
[code]

[2022-06-15 07:42] springcomp commented on #94
@jamesls how can we best help you moving forward. Please let us know.

[2022-07-21 01:23] chadselph commented on #67
I think you need a custom function

[2022-07-25 08:34] Didjacome commented on #88
### Case #88 - Solution

Hi, hope you are well

- **if you are using powershell follow this command**

[code]

- **if you are using az cli in linux "Bash"**

[code]
I hope I could help you, if you have any doubts, please let me know

[2022-07-29 12:28] springcomp commented on #105
You can emulate this combining the `contains()` function with a `not-expression`:

`` search( [? !contains(@, `2`)][], [[1, 3, 5], [2, 4, 6], [1, 2, 3]]) -> [1, 3, 5] ``

[2022-07-30 07:11] springcomp commented on #94
Dear all,

While brainstorming ideas, we are making good strides at [drafting some proposals](https://github.com/jmespath-community/jmespath.spec/discussions?discussions_q=label%3Ajep-candidate).

Please let us know your feedback and feel free to share your ideas as well.

[2022-08-03 18:39] dgutson commented on #106
Hi, any update on this?

[2022-08-10 18:27] vavarodrigues commented on #105
Perfect, thank you @springcomp!

[2022-08-19 11:29] springcomp commented on #94
Dear all,

[Our vision](https://github.com/jmespath-community/jmespath.spec/discussions/97) for what could constitute the next major milestone for JMESPath has been detailed.

It includes the following proposals:

- General Behaviour
  - Documenting provisions for [third-party functions](https://github.com/jmespath-community/jmespath.spec/discussions/20#discussion-3914000).
  - Enabling [string sl

[2022-09-03 12:08] b-enoit-be opened #108 "Should it be explained more thoroughly that a a function returns a projection?"
Let's say we have a list of list and want to select the sublist where a string starts with a letter.

So, given the JSON
[code]

One could do:
[code]

But, in order to have a consistent not notation, I was trying to make the `contains` function a dot notation too, so:

[code]

which does not work.

I figured out it as because `starts_with` returns a project, so it can be achieved resetting it:

[c

[2022-09-03 12:39] b-enoit-be opened #109 "[Possible improvement] Auto reset projections?"
While writing the issue #108, I was wondering if an improvement shouldn't be to systematically reset projections.

---

_Little background_: I came to JMESPath thanks to its usage In Ansible. Ansible uses Jinja2, which, previously, would return Python generator from functions like `map` or `select`. Because of that, if you needed to display a mapped of filtered list, you would have to explicitly c

[2022-09-13 19:05] EdSchouten commented on #17
Friendly ping!

[2022-10-05 20:45] davaya opened #111 "Search for property?"
Is it possible to search for a specific property regardless of where it appears in the tree? Given a JSON document
[code]
I want to find all the occurrences of property `foo`, yielding the same results as grepping the JSON data or searching for \<img\> elements in a DOM:
`["foo", "a.foo", "a.b.foo"]`

[2022-10-16 14:23] abentley opened #113 "Tutorial: list vs array"
It's not clear to me whether "list" and "array" are intended to have different meanings in the tutorial.

I could imagine that "array" would refer to the actual json datatype, while "list" would be a more general sequence of values.  But the description of index expressions and slices use "array" consistently, implying these can only apply to arrays and not lists in general.  That doesn't seem des

[2022-10-16 14:35] abentley commented on #113
The spec mixes "list" and "array" seemingly without distinguishing them

[2022-10-20 21:35] springcomp commented on #108
Yes, it definitely [should be explained better]( https://github.com/jmespath-community/jmespath.spec/discussions/95).

[2022-10-20 21:44] springcomp commented on #94
Dear all,

I'm proud to share the [new version of the specification](https://jmespath.site/main) for what we call JMESPath Community.

You can even [test drive all the changes](http://jmespath.site/#preview)!

Please, feel free to share your feedback.

[2022-10-27 16:42] justinmchase opened #114 "How can I return strings without quotes?"
#### example
[code]

#### returns
[code]

What is the query syntax to remove unwanted quotes from return results?

[2022-10-27 22:12] springcomp commented on #114
`--output tsv`

[2022-10-30 14:50] #114 closed